<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="margin: 1rem; padding: 1rem; background-color: #aeaeae;border-radius: 15px  ;">
        <h1>All Articals</h1>
        <hr />

        <% allArticls.forEach(element=> { %>
            <div style="margin: 1rem; padding: 1rem; background-color: #717171;border-radius: 15px  ;">
                <h3>
                    <%=element.title %>
                </h3>
                <p>
                    <%=element.body %>
                </p>
            </div>
            <hr />
            <% }) %>

    </div>

</body>

</html>